<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Aluno</title>
</head>
<body>

<h1>Editar Aluno</h1>

<a href="/professor/listar">Voltar para a lista de professores</a><br /><br />

<form action="/professor/editar" method="post">
    <input type="hidden" name="id" th:value="${professor.id}" />
    <label>Nome:</label><br/>
    <input type="text" name="nome" th:value="${professor.nome}" /><br />

    <input type="submit" value="Salvar" />
</form>

</body>
</html>